#signup-button {
    border: none;
    display: inline-block;
    margin: 0;
    background: none;
    background-color: white;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    padding: 5px 20px;
    border-radius: 3px;
    margin-left: 20px;
}


#signup-button:hover {
    color: #0000007a;
}
