.signup-butt {
    cursor: pointer;
    background-color: #00C896;
    border: 1px solid #00C896;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    margin-top: 10px;
    transition-duration: 0.2s;
}

.signup-butt:hover {
    background-color: #00c896ce;
    border: 1px solid #00c896ce;
    transform: scale(1.03);
}
