h1 {
    padding: 30px;
}

.new-post-button {
    margin-bottom: 30px;
}

.user-home-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.all-images-container {
    display: flex;
    flex-direction: row;
    width: 50%;
}
