#artist-portfolio-main-container {
    display: grid;
    grid-template-areas: 'profile images'
    'reviews images';
    grid-template-columns: 400px auto;
    grid-template-rows: fit-content fit-content;
    width: 100%;
    margin: 0 auto;

    padding: 20px 100px;
}

.portfolio-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    grid-area: profile;
}

.artist-portfolio-profile {
    display: flex;
    width: 100%;
    height: 100%;

}

#artist-portfolio-images-container.all-images-container {
    grid-area: images;
    column-count: 3;
    min-height: 100vh;
    padding: 0;

}
