.artist-portfolio-main-container-container {
    min-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    position: absolute;
    top: 75.61px;
    display: flex;
    justify-content: center;
}

#artist-portfolio-main-container {
    display: grid;
    grid-template-areas: 'profile profile'
    'reviews images';
    grid-template-columns: 400px auto;
    grid-template-rows: fit-content fit-content;
    width: 60%;
    background-color: transparent;
    min-width: 985px;

}

.portfolio-profile-container {
    width: 100%;
    height: 100%;
    grid-area: profile;
}

.artist-portfolio-profile {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#artist-portfolio-images-container.all-images-container {
    grid-area: images;
    column-count: 3;
    min-height: 100vh;
    padding: 10px 0 10px 10px;
    min-width: 100%;
}


.no-artist-images-container {
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    font-style: italic;

    display: flex;
    position: absolute;
    width: 600px;
    justify-content: center;
}




#fiona-profile-image-div-container {
    transition-duration: 0.3s;
}

#fiona-profile-image-div-container:hover {
    transform: scale(1.1);
}

.gotta-latte-do-link {
    font-family: proxima-nova-condensed, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 15px;
    padding: 2px 5px;
    margin-left: 10px;
    color: #87b9d6;
    background-color: cornsilk;
    border-radius: 10px;

    transition-duration: 0.2s;
}

.gotta-latte-do-link:hover {
    color: #87b9d6c4;
}
