.edit-button {
    cursor: pointer;
    /* background-color: #B36754;
    border: 1px solid #B36754; */
    background-color: #4E8075;
    border: 1px solid #4E8075;
    color: whitesmoke;
    padding: 10px;
    border-radius: 3px;
    width: 300px;
}

.edit-button:placeholder {
    font-size:10px;
}

.edit-button:hover {
    /* background-color: #B36754c4;
    border: 1px solid #B36754c4; */
    background-color: #4E8075c4;
    border: 1px solid #4E8075c4;
}

.edit-button:disabled {
    opacity: 30%;
}

.edit-button:disabled:hover {
    background-color: #4E8075;
    border: 1px solid #4E8075;
    color: whitesmoke;
    opacity: 30%;
    cursor:default;
}
