.main-container.my-portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* .my-portfolio-container {
    display: flex;
    justify-content: center;
}

.grid-portfolio-container {
    display: grid;
    grid-template-areas: 'header header header profile'
    'image image image profile'
    'image image image profile'
    'image image image profile';
    width: 80%;
}

.my-portfolio-header {
    grid-area: 'header';
}

.portfolio-all-images-container {
    grid-area: 'image';
    /* display: grid; */
    /* grid-template-columns: auto auto auto auto; */
