
.zoomed-container {
    color: var(--soft-black);
    background-color: rgb(34, 34, 34);
    font-style: italic;
    position: relative;
    /* background-color: transparent; */
    border-radius: 7px;

    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    max-height: 90vh;
}

.zoomed-image {

    max-width: 80vw;
    max-height: 90vh;
    border-radius: 7px;
}

.zoomed-image-info {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.48503151260504207) 82%, rgba(0,0,0,0) 100%);
    border-radius: 0 0 7px 7px;
}

.zoomed-all-tags {
    display: flex;
    margin-left: 20px;
}

.zoomed-artist-name,
.single-tag,
.no-tags {
    color: var(--soft-white);
    margin-left: 10px;
    transition-duration: 0.2s;
}

.zoomed-artist-name:hover {
    color: #64BAAA;
    transform: scale(1.1);
}

.single-tag {
    font-family: var(--font-for-image-display);
    cursor: default;
}
