
.zoomed-container {
    color: var(--soft-black);
    background-color: rgb(34, 34, 34);
    font-style: italic;
    max-width: 450px;

}

.zoomed-image {
    /* max-height: 50em;
    max-width: 50em; */
    height: 100%;
    width: 100%;
}


.zoomed-image-info {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30px;
    width: 100%;
    background-color: rgb(34, 34, 34);
    position:relative;
    bottom: 3px;
}

.zoomed-artist-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoomed-artist-name {
    color: var(--soft-white);
    display: inline-block;
    width: fit-content;
}

.zoomed-artist-name:hover {
    color: rgba(255, 255, 255, 0.555);
}

.zoomed-favorites-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoomed-favorites-container > .favorite-star-container {
   position: relative;
}

.zoomed-favorites-container > .not-favorited {
    position: relative;
    top: 3px;
}


.zoomed-favorites-container > .favorites-number {
    color: var(--soft-white);
}

/* .zoomed-favorites-count > .fa-star {
    color: var(--soft-black);
    font-size: 20px;
    cursor: pointer;
}

.zoomed-favorites-count > .fa-star:hover {
    color: gold;
} */

.zoomed-all-tags {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    color: var(--soft-white);
}

.zoomed-all-tags > .single-tag:hover {
    color: rgba(255, 255, 255, 0.555);
    cursor: default;
}
