/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Staatliches&family=Yellowtail&display=swap');
@import url('https://use.typekit.net/kyk0anv.css');


:root {
  --soft-white: #DFE0DF;
  --soft-black: #303030;
}


*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: proxima-nova, sans-serif;
  }

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
  }


.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 78px;
}

.favorites-count {
  width: fit-content;
}

/* .all-images-container {
  display: flex;
  flex-direction: row;
  width: 60%;
} */

.grid-image {
  width: 100%;
  /* display: block; */
  border-radius: 5px 5px 0 0;
  min-width: 180px;
}

.grid-image:hover {
  opacity: 70%;
  cursor:zoom-in;
}



.all-images-container {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px; */
  column-count: 4;
  column-gap: 15px;
  width: 70%;
  /* margin: auto; */
  margin-bottom: 30px;
  min-width: 760px;
}

.image-container {
  margin: 0;
  display: absolute;
  /* display: grid;
  grid-template-rows: 1fr auto; */
  margin-bottom: 15px;
  break-inside: avoid;
  background: #303030;
  border-radius: 5px;
}

/* .image-container > img {
  grid-row: 1 / -1;
  grid-column: 1;
} */

h2 {

  font-family: 'Fredericka the Great', cursive;

  font-size: 40px;
}

.image-info {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  padding: 5px;
  min-height: 38px;

}

.favorites-count {
  color: rgba(245, 245, 245, 0.747);
  cursor: default;
  display: flex;
  max-height: 28px;
  min-width: 90px;
  justify-content: flex-end;
  position: relative;
}

.favorited-button {
  border: none;
  background: none;
}

.favorites-number {
  width: 30px;
  display: flex;
  justify-content: center;
}
