/* TODO Add site wide styles */
*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }

.grid-image {
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.favorites-count {
  width: fit-content;
}
