
.portfolio-image.image-container {
    background-color: transparent;
    position: relative;
}

.portfolio-grid-image {
    border-radius: 5px 5px 0 0;
}

.portfolio-image:hover .edit-delete-butt-container {
    opacity: 100%;
}

.portfolio-image-info {
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 0 0 5px 5px;
}

.portfolio-fave-count {
    display: flex;
    bottom: 0;
    font-size: 1.8vmin;
    align-items: center;
    color: var(--soft-black);
}

.portfolio-star {
    margin: 0 5px;
    color: var(--soft-black);

}

.portfolio-star:hover {
    color: var(--soft-black);
    cursor: default;
}

.tag-container {
    display: flex;
    align-items: center;
    overflow-wrap:break-word;
    padding: 5px;
}

.tag-text,
.no-tags.portfolio-no-tags {
    font-size: 1.5vmin;
    color: var(--soft-black);
}

.portfolio-tags {
    overflow:auto;
    cursor: default;
    font-family: var(--font-for-image-display);
    font-style: italic;
}

.portfolio-tag, .no-tags {
    width: fit-content;
}


.edit-delete-butt-container {
    position: absolute;
    width: fit-content;
    right: 10px;
    top: 10px;
    opacity: 0;
    transition-duration: 0.3s;
}

.edit-post-icon,
.delete-post-trash {
    width: fit-content;
    border: 0;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    text-shadow:
    0.03em 0 white,
    0 0.03em white,
    -0.03em 0 white,
    0 -0.03em white;
}

.fa-edit {
    color: var(--soft-black);
    transition-duration: 0.2s;

}

.delete-post-trash {
    width: fit-content;
}

.fa-trash-alt {
    color: var(--soft-black);
    transition-duration: 0.2s;
}

.fa-edit:hover {
    color: #4E8075;
    transform: scale(2);
}

.fa-trash-alt:hover {
    color: #B6677AE0;
    transform: scale(2);
}
