h2#favorites-header {
    padding: 10px 0 10px 10px;
    color: var(--soft-black);
    opacity: 0;
    font-size: 10px;
}

#favorites-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:fit-content;
    position: fixed;
    left: 28%;
    top: 30%;
}

#no-faves-text {
    padding: 0 0 10px 10px;
    font-family: proxima-nova-condensed, sans-serif;
    font-weight: 400;
    font-style: italic;
}

#favorites-main-container {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#favorites-all-images-container {
    margin: 0;
}
