.image-container {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    position: relative;
}

.image-container > img {
    grid-row: 1 / -1;
    grid-column: 1;
}

.grid-image {
    max-width: 100%;
    display: block;
    border-radius: 7px;
    min-width: 180px;
    transition-duration: 0.2s;
}

.grid-image:hover {
    opacity: 70%;
    cursor: zoom-in;
    transform: scale(1.03);
}


/* %%%%%%%%%%%%%%%%%%%%% Favorites Count %%%%%%%%%%%%%%%%%%%%% */

.favorites-count {
    position: absolute;
    right: 60px;
    top: 22px;
    color: black;
    font-size: 14x;
    text-shadow:
        0.04em 0 white,
        0 0.04em white,
        -0.04em 0 white,
        0 -0.04em white;
    font-family: var(--font-for-image-display);
}

.grid-image:hover + .favorites-count {
    visibility: visible;
}

.favorites-count:hover {
    visibility: visible;
    cursor: default;
}

/* %%%%%%%%%%%%%%%%%%%%% Star Container %%%%%%%%%%%%%%%%%%%%% */

.please-stay-in-place {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    display: flex;
    height: 50px;
    visibility: hidden;
}

.please-stay-in-place:hover {
    visibility: visible;
}

.please-stay-in-place:hover ~ .artist-username-container {
    visibility: visible;
}

/* %%%%%%%%%%%%%%%%%%%%% Not Favorited Star %%%%%%%%%%%%%%%%%%%%% */

.favorite-star-container.not-favorited {
    position: absolute;
    right: -15px;
    top: -15px;
}

.favorite-star {
    background: transparent;
    border: none;
    width: 100px;
    transition-duration: 0.2s;
}

button.favorite-star:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.favorite-star > svg > g:hover {
    cursor: pointer;
}

.grid-image:hover ~ .please-stay-in-place {
    visibility:visible;
}


/* %%%%%%%%%%%%%%%%%%%%% Favorited Star %%%%%%%%%%%%%%%%%%%%% */

.favorite-star-container.favorited {
    position: absolute;
    right: 20px;
    top: 19px;
}

.favorited-star {
    color: gold;
    font-size: 27px;
    visibility: visible;
}

.favorited-star:hover {
    cursor: pointer;
}


/* %%%%%%%%%%%%%%%%%%%%% Artist Username %%%%%%%%%%%%%%%%%%%%% */

.artist-username-container {
    position: absolute;
    left: 30px;
    top: 22px;
    visibility: hidden;
    width: fit-content;

}

.grid-image:hover ~ .artist-username-container {
    visibility: visible;
}

.artist-username {
    font-family: var(--font-for-image-display);
    width: fit-content;
    color: black;
    font-size: 14x;
    font-style: italic;
    text-shadow:
        0.04em 0 white,
        0 0.04em white,
        -0.04em 0 white,
        0 -0.04em white;

    transition-duration: 0.2s;
}

.artist-username:hover {
    visibility: visible;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.651);
    transform: scale(1.1);
}

.artist-name {
    color: var(--soft-white);
    font-size: 14px;
}

.artist-name:hover {
    color: #dfe0dfa9;
}
