
header {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: rgba(0,0,0, 0.4);
    position: relative;
    z-index: 2;
}

/* .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 80%;
    padding: 24px 0;
} */

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    padding: 24px 0;
    text-align: center;
}

.inkr-dots,
.inkr-logo {
    height: 21.62px;
    padding: 0 2px;
    cursor: pointer;
}


#left-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#right-container {
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: center;
}


.session-links {
    display: flex;
    align-items: center;
}

#center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
