
header {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: var(--chocolate-fade);
    position: fixed;
    width: 100%;
    z-index: 2;
    max-height: 75.61px;
    min-width: 1401px;
}

#splash-page-header {
    min-width: 1074px;
}

#splash-page-nav-bar {
    display: grid;
    grid-template-columns: 150px 8fr auto;
    width: 90%;
    padding: 15px 0;
    text-align: center;
}

.nav-bar {
    display: grid;
    grid-template-columns: 150px auto 500px;
    width: 85%;
    padding: 15px 0;
    text-align: center;
}

.session-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-link {
    border-bottom: 1px solid var(--soft-white);
}

/* %%%%%%%%%%%%%%%%%%%%% NavBar Left Container %%%%%%%%%%%%%%%%%%%%% */

#left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
    width: fit-content;
}

.inkr-dots,
.inkr-logo {
    height: 21.62px;
    padding: 0 2px;
    cursor: pointer;
}

/* %%%%%%%%%%%%%%%%%%%%% NavBar Center Container %%%%%%%%%%%%%%%%%%%%% */

#center-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}



/* %%%%%%%%%%%%%%%%%%%%% NavBar Right Container %%%%%%%%%%%%%%%%%%%%% */

#right-container {
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.welcome-text {
    padding: 0 10px;
    color: var(--soft-white);
    cursor: default;
    font-family: proxima-nova-condensed, sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-right: 20px;
    font-size: 18px;
}

#right-container > .session-links {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.right-container-element {
    margin-left: 15px;
}

.nav-butt.right-container-element.new-post-button {
    margin-left: 15px;
}


/* %%%%%%%%%%%%%%%%%%%%% New Post Button %%%%%%%%%%%%%%%%%%%%% */

.new-post-button.nav-butt {
    width: fit-content;
    margin-right: 0;
    padding: 0;
}

.fa-cloud-upload-alt {
    font-size: 25px;
    transition-duration: 0.3s;
    color: white;
}

.fa-cloud-upload-alt:hover {
    transform: scale(1.5);
}



/* %%%%%%%%%%%%%%%%%%%%% Logout Button %%%%%%%%%%%%%%%%%%%%% */

/* .logout {
    border: none;
    display: inline-block;
    margin: 0;
    background: none;
    background-color: white;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    padding: 5px 20px;
    border-radius: 3px;

    transition-duration: 0.2s;
}

.logout:hover {
    color: #0000007a;

    transform: scale(1.03);
} */

.logout {
    border: none;
    background: none;
    color: whitesmoke;
    font-size: 25px;
    transition-duration: 0.3s;
}

.logout:hover {
    transform: scale(1.5);
    color: white;
    cursor: pointer;
}



/* %%%%%%%%%%%%%%%%%%%%% Navigation Links / Buttons %%%%%%%%%%%%%%%%%%%%% */

.nav-butt {
    border: none;
    background-color: transparent;
    display: inline-block;
    margin: 0;
    color: var(--soft-white);

    font-size: 18px;
    cursor: pointer;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 25px 0 0;
    margin-right: 15px;
    transition-duration: 0.2s;
}

.nav-butt:hover {
    color: white;
    transform: scale(1.03);
}
