#login {
    border: none;
    display: inline-block;
    margin: 0;
    background: none;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
}

#login:hover {
    color: #ffffff94;
}
