
.login-button,
.demo-button {
    cursor: pointer;
    color: whitesmoke;
    padding: 10px;
    border-radius: 3px;
    width: 300px;
    transition-duration: 0.2s;
}

.login-button {
    margin-bottom: 10px;
    background-color: #00C896;
    border: 1px solid #00C896;
}

.demo-button {
    background-color: #0077B4;
    border: 1px solid #0077B4;
}

.login-button:hover {
    background-color: #00c896ce;
    border: 1px solid #00c896ce;
}

.demo-button:hover {
    background-color: #0078b4ce;
    border: 1px solid #0078b4ce;
}

.login-button:hover,
.demo-button:hover {
    transform: scale(1.03);
    cursor: pointer;
}
