.favorite-star {
    background: transparent;
    border: none;
    width: 70px;
    right: 50px;
}

.favorite-star-container {
    position: relative;
    bottom: 22px;
    left: 20px;
}

/* .favorite-star-container.not-favorited {
    position: relative;
    bottom: 18px;
} */

.favorite-star > svg > g:hover {
    cursor: pointer;
}

.favorited-star {
    position: relative;
    right: 20px;
    top: 22px;
    color: gold;
    font-size: 18px;
}

.favorited-star:hover {
    cursor: pointer;
}
